/*
 * Want to change this website's styes? Learn more about CSS:
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
 */

body {
  padding: 0 20px;
  background: aliceblue;
}

.content {
  max-width: 1080px;
  margin: auto;
}

.sections{
  display: flex-root;
}

section {
  margin: 16px;
  padding: 16px;
  min-width: 420px;
  display: inline-table;
  background: rgba(255,255,255,0.6);
  border-radius: 8px;
  box-shadow: 0px 1px 42px rgba(0,0,0,0.2);
}

footer {
  font-size: small;
  text-align:center;
}

